<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="GOTY"
    gameType="Digital | PS4 PS5"
    gamePrice="R$129,99"
  ></app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Remaster"
    gameType="DISC | PS5"
    gamePrice="R$399,99"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Exclusive"
    gameType="DISC | PS5"
    gamePrice="R$269,99"
  ></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="New"
    gameType="DISC | PS3 PS4  PS5"
    gamePrice="R$269,99"
  ></app-card>
</div>
